.container {
    position: relative;
    background-size: cover;
    background-image: url(img/Bigstock-41155282-New-York-City-Midtown-Skyline-1.jpg);
    background-repeat: no-repeat;
    white-space: normal;
    margin: 0 0;
    padding: 12px 18px;
    
}
.text0 {
    text-align: left;     
    font-size: 30px;
    font-weight: 100;
    color: black;
    width: 40%;
    margin-left: 20%;
    position: absolute;
   display: inline-block;
}
.bb {
    color: red;
}
.text1 {
    color: red;
    line-height: 1.1
}

/*.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
}
*/
.toggle-box {
  display: none;
}
.toggle-box + label {
    display: inline-block; 
  border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
}
.toggle-box + label + div {
  display: none;
}
.toggle-box:checked + label + div {
  display: block;
  background: #efefef;
  padding:5px;    
}

/* вид текста label при активном переключателе */
.toggle-box:checked + label {
    color: red;
    border-bottom: 0;
}
