.news-card {
  width: 200px;
  height: 300px;
}

.news-card__top {
  height: 180px;
  background-image: url(img/USA_Houses_Statue_of_Liberty_New_York_City_515564_1280x850.jpg);
  background-size: cover;
}

  .news-card__date {
  /*display: inline-flex;
  justify-content: center;
  align-items: center;*/
  
  width: 30px;
  height: 30px;
  padding: 4px 2px;
  border-radius: 50%;
  
  box-sizing: border-box;
  float: right;
  background-color: #f44;

  
  font: bold 8px Arial;
  color: white;
  text-align: center;
}
.news-card__label {
  width: 220px;
    height: 120px;
    background-color: #f44;

    font: bold 10px Arial;
    color: white;
    text-align: center;
    padding: 4px 2px;
    
    vertical-align: bottom;


}

.news-card__subheading2 {
  letter-spacing: normal;
  /*line-height: 2px;*/
  text-align: justify;
  text-indent: 25px;
  box-shadow: beige;
  white-space: 15px;
}

.news-card__heading {
  font-weight: 100;
}

.news-card__subheading {
  color: #f44;
}