.title {
    margin-left: 30px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.title1 {
    margin-top: 158px;
    text-align: center; 
    color: white;
    font-size: 40px;
}
.vv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gg {
    text-align: center;  
}
.texct {
    text-align: center;   
    font-size: 40px;
    color: white;

}
a {
    text-align: center; 
    color: white;
}
.button {
        text-align: center;
        background: white;
        font-size: 20px;
        padding: 12px 18px;
        border-radius: 20px;
        background-color: white;
        float:right;
        cursor: pointer;
        width: 208;    
    }
.text0 {
        text-align: center;     
        font-size: 40px;
        font-weight: 100;
        color: white;
        width: 60%;
        margin-left: 20%;

    }
.texct1 {
        text-align: center;     
        font-size: 30px;
        font-weight: 100;
        color: white;
    }
.container { 
      
    position: relative;
    background-size: cover;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    white-space: normal;
    margin: 0 0;
         
    }
.t {
text-align: center;
}
.ar {
    line-height: 1;
    display: inline-block;
    color: white;
    text-decoration:none;
    cursor: pointer;
    vertical-align: bottom;
    line-height: normal;

}
.ar:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width .3s ease-in-out;
    
}
.ar:hover:after,
.ar:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
#Learn {
        text-align: center;     
        font-size: 30px;
        font-weight: 100;
        color: black;
        margin-left: 20%;
        width: 60%;
}
.ttt {
    height: 450px;
    display:block;
    margin:auto;
    float: right;
    }
.bl {
    background-color: lightyellow;
}
.left-col {
    width: 50%; 
    min-width: 180px;  /* минимальная ширина сужения */
    height: auto;  /* высота */
    box-sizing: border-box;
    float: left; /* плавающие блоки */
    padding-right: 10px; /* отступ справа */
    background-color: lightyellow;
} 
.right-col {
    width: 50%; 
    min-width: 180px;  /* минимальная ширина сужения */
    height: auto;  /* высота */
    box-sizing: border-box;
    float: left; /* плавающие блоки */ 
    padding-left: 10px; /* отступ слева */
    background-color: lightyellow

}

.d {
    display: flex;
    justify-content: space-between
}
 .tt {
    width: 50%; 
    min-width: 180px;  /* минимальная ширина сужения */
    height: auto;  /* высота */
    box-sizing: border-box;
    float: left; /* плавающие блоки */ 
    padding-left: 10px; /* отступ слева */
     }
.g {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ttt1 {  
    position: relative;
    background-size: cover;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    white-space: normal;
    margin: 0 0;
}
.j {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text7 {
    text-align: center;     
    font-size: 30px;
    font-weight: 100;
    color: black;
    width: 60%;
    margin-left: 20%;
    display: block;
}
.ttt2 {
       
    position: relative;
    background-size: cover;
    background-image: url(img/guided.jpg);
    background-repeat: no-repeat;
    white-space: normal;
    margin: 0 auto;
}
.ttt3 {
    height: 450px;
    display:block;
    margin:auto;
    display: block;
    float: right;
    }
.ttt4 {
      
    position: relative;
    background-size: cover;
    background-image: url(img/landscape.jpg);
    background-repeat: no-repeat;
    
    margin: 0 auto;
    }
.ttt5 {
    height: 150px;
    display:block;
    margin:auto;

}

.ttt6 {
    height: 450px;
   
}
.h  {
    width: 60%; 

    height: auto;  /* высота */
    box-sizing: border-box;  
} 
.rj {
    width: 90%; 
    
    height: auto;  /* высота */
    box-sizing: border-box;  
}
.bb {
    text-align: center;
}
.bb4 {
    text-align: center;
}
.button1 {
    text-align: center;
    background: blue;
    font-size: 20px;
    padding: 12px 18px;
    border-radius: 20px;
    background-color: white;
    float: center;
    cursor: pointer;
    width: 208;
}
.h5 {
    text-align: center;
}